<% include ./head.ejs %>

<div class="container">

    <h2>Upcoming</h2>
    <% if(events.upcoming.length < 1){ %>
    <h4>More to be announced soon</h4>
    <% } %>
    <% events.upcoming.map(function(event){ %>
    <img src="<%- event.picture %>">
    <a href="https://www.facebook.com/events/<%- event.id %>"><h4><%- event.name %></h4></a>
    <h5><%- event.day %> <%- event.month %></h5>
    <p><%- event.place.name %></p>
    <!--<p><%- event.description.replace(/\r?\n/g, "<br />") %></p>-->
    <hr>
    <% }) %>

    <h2>Past</h2>
    <% if(events.past.length < 1){ %>
    <h4>none</h4>
    <% } %>
    <% events.past.map(function(event){ %>
    <img src="<%- event.picture %>">
    <a href="https://www.facebook.com/events/<%- event.id %>"><h4><%- event.name %></h4></a>
    <p><%- event.place.name %></p>
    <!--<p><%- event.description %></p>-->
<hr>
    <% }) %>

</div>


<% include ./foot.ejs %>
