<% include ./head.ejs %>

<div class="container">

    <h2>Upcoming</h2>
    <%if(events.upcoming.length < 1){ %>
    <h4>More to be announced soon</h4>
    <%}%>
    <% events.upcoming.map(function(event){ %>
    <a href="https://www.facebook.com/events/<%-event.id%>"><h3><%- event.name %></h3></a>
    <p><%- event.description %></p>
    <% }) %>

    <h2>Past</h2>
    <%if(events.past.length < 1){ %>
    <h4>none</h4>
    <%}%>
    <% events.past.map(function(event){ %>
    <a href="https://www.facebook.com/events/<%-event.id%>"><h3><%- event.name %></h3></a>
    <p><%- event.description %></p>

    <% }) %>

</div>


<% include ./foot.ejs %>
